<form action="/add_story/<%=storyset.slug%>" method="POST">
  <div>
    <label for="story_tytul">Tytuł</label>
    <input
      type="text"
      name="tytul"
      id="story_tytul"
      required
      minlength="1"
      maxlength="500"
      <% if (locals.tytul){ %>
      value="<%= tytul %>"
      <% }%>
    />
  </div>
  <div>
    <label for="story_opis">Opis</label>
    <textarea
      type="text"
      name="opis"
      id="story_opis"
      required
      minlength="1"
      maxlength="500"
      <% if (locals.opis){ %>
      value="<%= opis %>"
      <% }%>
      >
      </textarea>
  </div>
  <div>
    <button>Dodaj</button>
  </div>
</form>
