<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <p>have fun and chill <br>
    We do steal your data</p>
  <a href="/settings/accept-cookies" id="acceptButton" class="cookieButton">Zaakceptuj</a>
</main>

<%- include("foot.partial.ejs") %>
